<footer>
    <p class="footer-text">Presente y A Comer</p>
    <p class="footer-text">Almacenamiento y Recuperación de la Información</p>
    <p class="footer-text">Licenciatura en Ciencias de la Computación</p>
    <p class="footer-text">&copy; 2025 PyAC - UBA</p>
</footer>